@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap');
@import url('https://fonts.cdnfonts.com/css/vni-thufap2');
body {
    background-color: #2D2D2D;
    
}
.box1 {
    
    width: 240px;
    height: 490px;
    border: 6px ridge;
    
    border-color: #43465B;
    text-align: center;
    margin: 0 auto;
    background-image: url(anhnen.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    font-family: "MonteCarlo", serif;
    box-shadow: 0 5px 15px #CCC9D9;
    color: white;
    padding-top: 30px;
    
    z-index: 4;
    text-shadow: 4px 4px 2px black;
  }
 .box2 {
    font-size: 20px;
    font-weight: 1000;
 }
/* phan them css cua hoa sakura*/

.tamhoa {
    background-color: #D25381;
    border-radius: 100%;
    width: 10px;
    height: 10px;
position: relative;
margin: 0 auto;

animation: tamhoa 0.6s linear infinite;
}
.tamhoa::before, .tamhoa::after {
    content: '';

    position: absolute;
    background-color: #FCB1CF;
    border-radius:50% 50% ;
    width: 10px;
    height: 15px;
    
    top: -90%;
    left: 20%;
    transform-origin: 50% 100%;
}
.tamhoa::before {
    transform: rotate(0);
}
.tamhoa::after {
    transform: rotate(72deg)
}

.tamhoa div::before, .tamhoa::after{
    content: '';

    position: absolute;
    background-color: #FCB1CF;
    border-radius:50% 50% ;
    width: 10px;
    height: 15px;
    
    top: -90%;
    left: 20%;
    transform-origin: 50% 100%;
}
.tamhoa div:nth-child(1)::before {
    transform: rotate(144deg);
}
.tamhoa div:nth-child(2)::before {
    transform: rotate(216deg);
}
.tamhoa div:nth-child(3)::before {
    transform: rotate(288deg);
}
@keyframes fall{
    0%{
     transform: translateY(0) rotate(0deg);
    }
    100%{
     transform: translateY(120vh) rotate(240deg);
    }
 }
  
  .khung {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Để các trái tim không bị click*/
    overflow: hidden;
  }
  .tam{
    position: absolute;
    top: -10%;
    left: 50%;
    width: 50px;
    height: 50px;
    animation: fall linear infinite;
    transform-origin: top center;
    opacity: 0.7;
  }
  .tamhoa1 {
    animation-duration: 8s;
    animation-delay: 0s;
    left: 10%;
  }
  .tamhoa2 {
    animation-duration: 10s;
  animation-delay: 2s;
  left: 20%;
}
  
  .tamhoa3 {
    animation-duration: 12s;
  animation-delay: 4s;
  left: 30%;
  }
  .tamhoa4 {
    animation-duration: 9s;
    animation-delay: 1s;
    left: 40%;
  }
    
    .tamhoa5 {
        animation-duration: 7s;
  animation-delay: 3s;
  left: 50%;
}
    
        .tamhoa6 {
            animation-duration: 11s;
            animation-delay: 3s;
            left: 60%;
        }
            .tamhoa7 {
                animation-duration: 10s;
                animation-delay: 5s;
                left: 70%;
            }
            
                .tamhoa8 {
                    animation-duration: 9s;
                    animation-delay: 2s;
                    left: 80%;
                }
     /* them css button*/    
     #soundButton {
      background-color: #f0e6d2;
        border-radius: 100%;
        padding: 10px 10px;
        text-align: center;
        box-shadow: 0 2px 7px plum;
        
        font-size: 25px;
     position: fixed;
     left:0vw;
     top: 70vh;
     z-index: 4;
      }
      #soundButton:hover {
        box-shadow: 0 5px 15px #FF008D ;
        border-color: #EC30DD ;
        background-color: #fecdfe;
      }           

  